html {
  font-size: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  font-size: inherit;
  box-sizing: inherit;
}

hr {
  margin-top: 0;
  margin-bottom: 1rem;
}
